# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
.turbo/
out/

# Environment
.env
.env.local
.env.*.local
apps/api/.env
apps/web/.env

# Prisma
prisma/migrations/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Testing
coverage/
.nyc_output/
